<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<div class="title">
    <div class="img_con">
        <img src="assets\fishlogo.png" alt="Henrietta Rare Fish Store" height="100">
    </div>    
</div>
<router-outlet></router-outlet>
<div class="bottom">
    Henrietta Rare Fish inc.
    <br>
    Copyright 2023*
    <br>
    Made by Harbor Wolff, Connor McRoberts and Cristian Malone
</div>


