<div *ngIf="currUser; else l" class="welcome_container">
  <h2>Welcome, {{currUser.username}}</h2>
  <div *ngIf="currUser?.isAdmin">
      <p>This user is an administrator.</p>
  </div>
  <div class="logout_button_container">
    <button type="button" routerLink="/login">Log Out</button>
  </div>
</div>
<ng-template #l class="l">
  <div class="logout_button_container">
    <button type="button" routerLink="/login">Login</button>
  </div>
</ng-template>

<h2>Exotic Fish</h2>

<div *ngIf="currUser?.isAdmin; else e" class="admin_view">
  <label for="new-product">Product name: </label>
  <input id="new-product" #productName />
  <label for="new-product">Product info: </label>
  <input info="new-product" #productInfo />
  <label for="new-product">Product price: </label>
  <input price="new-product" #productPrice />
  <label for="new-product">Product quantity: </label>
  <input quan="new-product" #productQuantity />
  

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(productName.value,productInfo.value,
    productPrice.value,productQuantity.value); 
    productName.value=''; 
    productInfo.value='';
    productPrice.value=''; 
    productQuantity.value=''">
    Add product
  </button>

<ul class="products">
  <li *ngFor="let product of products">
    <a routerLink="/detail/{{product.id}}" [state]="{isAdmin: true}">
      <span class="badge">{{product.id}}</span> {{product.name}}
    </a>
    <button type="button" class="delete" title="delete product"
      (click)="delete(product)">x</button>
  </li>
</ul>
</div>

<ng-template #e class="customer_view">
<ul class="products">
  <li *ngFor="let product of products">
    <a routerLink="/detail/{{product.id}}" [state]="{isAdmin: false}">
      <span class="badge">{{product.id}}</span> {{product.name}}
    </a>
  </li>
</ul>
</ng-template>

<app-product-search></app-product-search>
