
<div *ngIf="currUser; else l">
  <div class="product_taskbar">
    <div class="search_container">
      <app-product-search></app-product-search>
    </div>
    <div class="e_else">
      <div id="title">Welcome, {{currUser.username}}</div>
      <div *ngIf="currUser?.isAdmin; else s" class="admin_notif"></div>
      <ng-template #s>
        <div class="shopping_cart_container">
          <button type="button" routerLink="/cart/{{currUser.id}}"
          [state]="{user: currUser}" id="cart">Review Cart</button>
        </div>  
      </ng-template>
      <div class="button_container" id="but_2">
        <button class="login_but" type="button" routerLink="/login">Logout</button>
      </div>
    </div>
  </div>
</div>

<ng-template #l>
  <div class="product_taskbar">
    <div class="search_container">
      <app-product-search></app-product-search>
    </div>
    <div class="button_container">
      <button class="login_but" type="button" routerLink="/login">Login</button>
    </div>
  </div>
</ng-template>
  

<h2 class="title_bar">Our Products:</h2>
<div *ngIf="currUser?.isAdmin; else e" class="admin_view">
  <div class="new_product_con">
    <input id="prod_info" #productName placeholder="product name"/>
    <input id="prod_info" #productInfo placeholder="product info"/>
    <input id="prod_price" #productPrice placeholder="product price"/>
    <input id="prod_quan" #productQuantity placeholder="product quantity"/>
    <input id="prod_img" #imgSrc placeholder="product image"/>

  

  <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(productName.value,productInfo.value,
      productPrice.value,productQuantity.value, imgSrc.value); 
      productName.value=''; 
      productInfo.value='';
      productPrice.value=''; 
      productQuantity.value='';
      imgSrc.value=''">
      Add product
    </button>
  </div>

<div class="products">
  <ng-container *ngFor="let product of products">
    <a routerLink="/detail/{{product.id}}" [state]="{isAdmin: true}">
      <div class="product_container">
       <div class="product_display">{{product.name}} </div>
      </div> 
    </a>
    <button type="button" class="delete" title="delete product" id="delete_but"
      (click)="delete(product)">
      delete 
      <br>
      {{product.name}}
    </button>
  </ng-container>
</div>
</div>

<ng-template #e class="customer_view">
  <div class="products">
    <ng-container *ngFor="let product of products">
      <a routerLink="/detail/{{product.id}}" [state]="{isAdmin: true}">
        <div class="product_container">
         <div class="product_display">
            {{product.name}} 
          </div>
        </div> 
      </a>
    </ng-container>  
  </div>


</ng-template>
