<div class="component_container">
    <div class="create_acc_container">
        <div *ngIf="success; else e" class="congrats_container">
            Account create was successful, feel free to
            go back and log in now.
            <br>
            <button type="button" (click)="goBack()"
            id="login_but2">go back</button>
        </div>
        <ng-template #e>
            <div class="username_container">
                <input type="text" [(ngModel)]="tempName" id="username"
                placeholder="username">
            </div>
            <div class="password_container">
                <input type="password" [(ngModel)]="tempPass" id="password"
                placeholder="password">
            </div>
            <div class="button_container">
                <button type="button" (click)="create_account()" 
                id="login_but">Create Account</button>
            </div>
        </ng-template>
    </div>
</div>
