<div class="component_container">
  <div class="title">
    {{currUser?.username}}'s cart
    <br> 
    Rewards Points: {{rewards}}
  </div>
  <div class="cart_container">
    <ul class="cart">
        <div *ngFor="let product of cart; let i = index" class="item_container">
            {{product.name}}
              <button type="button" (click)="deleteFromCart(product)">
              remove {{product.name}}</button> 
              <span *ngIf="rewards >= 10">
                <button type="button" (click)="useRewardsPoints(i)">Use Rewards Points?</button> 
              </span>       
        </div>
    </ul>
  
    <div class="price">Total Price: ${{totalPrice}}</div>
  
    <div>{{checkoutMessage}}</div>
  
    <button type="button" (click)="checkout()">Checkout</button>
    <button type="button" (click)="goBack()">go back</button>
  </div>
  
</div>