<div *ngIf="product" class="view">
    <div class="navbar">
        <button type="button" (click)="goBack()" class="go_back">go back</button>
        <h2 class="title">{{product.name}} Details</h2>
        <img src={{product.imgSource}} width="300" height="300"/>
    </div>
        <div *ngIf="currUser?.isAdmin; else e">
            <div class="product_container">
                <div class="name_container">
                    Product Name:
                    <input id="product-name" [(ngModel)]="product.name" placeholder="Product name"/>
                </div>
                <div class="info_container">
                    Product Information:
                    <input id="product-info" [(ngModel)]="product.info" placeholder="Product info"/>
                </div>
                <div class="price_container">
                    Product Price:
                    <input id="product-price" [(ngModel)]="product.price" placeholder="Product price"/>
                </div>
                <div class="quantity_container">
                    Product Quantity:
                    <input id="product-quantity" [(ngModel)]="product.quantity" placeholder="Product quantity"/>
                </div>
                <div class="button_container">
                    <button type="button" (click)="save()" id="save_but">save</button>
                </div>
            </div>
        </div>
        

        <ng-template #e>
            <div class="product_container">
                <div class="name_container">
                    <label for="product-name">Product Name: {{product.name}}</label>
                </div>
                <div class="info_container">
                    <label for="product-info">Product Information: {{product.info}}</label>
                </div>
                <div class="price_container">
                    <label for="product-price">Product Price: {{product.price}}</label>
                </div>
                <div class="quantity_container">
                    <label for="product-quantity">Product Quantity: {{product.quantity}}</label>
                </div>
                <div *ngIf="currUser && !currUser?.isAdmin">
                    <button type="button" (click)="addToCart()">Add to Cart</button>
                </div>
            </div>
        </ng-template>

        <div class="reviews">
            <h4>Reviews</h4>
            <ng-container *ngFor="let review of reviews?.entries(); let i=index">
                <span>{{review[0]}}: {{review[1]}}/5</span>
                <span *ngIf="review[0] == this.currUser?.username">
                    Edit?
                    <button type="button" (click)="editReview(1)">1</button>
                    <button type="button" (click)="editReview(2)">2</button>
                    <button type="button" (click)="editReview(3)">3</button>
                    <button type="button" (click)="editReview(4)">4</button>
                    <button type="button" (click)="editReview(5)">5</button>
                    <button type="button" (click)="deleteReview()">Delete?</button>
                </span>
            </ng-container>

            <div *ngIf="currUser && !currUser?.isAdmin">
                <label>Add Review</label>
                <button type="button" (click)="editReview(1)">1</button>
                <button type="button" (click)="editReview(2)">2</button>
                <button type="button" (click)="editReview(3)">3</button>
                <button type="button" (click)="editReview(4)">4</button>
                <button type="button" (click)="editReview(5)">5</button>
            </div>
        </div>
</div>