
.product_container {
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b2d42;
    width: fit-content;
    margin-top: 5%;
    margin-left: 40%;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20%;
}

.navbar {
    background-color: #2b2d42;
    display: flex;
}

.title {
    color: #f7f7f9;
    background-color: #2b2d42;
}

.go_back {
    margin-right: 40px;
    margin-top: 20px;
    padding: 5px;
    height: fit-content;
    border-radius: 20px;
    cursor: pointer;
    transition: all .5s;
}

.name_container {
    background-color: #2b2d42;
    color: #f7f7f9;
    padding-bottom: 10px;
}

.info_container {
    background-color: #2b2d42;
    color:#f7f7f9;
    padding-bottom: 10px;
}

.price_container {
    background-color: #2b2d42;
    color: #f7f7f9;
    padding-bottom: 10px;
}

.quantity_container {
    background-color: #2b2d42;
    color:#f7f7f9;
    padding-bottom: 10px;
}

.button_container {
    background-color: #2b2d42;
}

button {
    background-color: #f7f7f9;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border-color: #2b2d42;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    transition: all .5s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

button:hover, .go_back:hover {
    background-color: #ffba49;
    transform: scale(1.2);
}

.img_con {
    background-color: #2b2d42;
    padding-bottom: 20px;
}

.cart_but {
    border-radius: 20px;
    padding: 10px;
    transition: all .5s;
    cursor: pointer;
}

.cart_but:hover {
    background-color: #ffba49;
    transform: scale(1.2);
}

.reviews, .add_review {
    background-color: #2b2d42;
    color: #f7f7f9;
    
}

.single_review {
    background-color: #2b2d42;
    color: #f7f7f9;
}